---
layout: default
---

<div class="content">
  {% include pagination-newer.html %}

  {{ content }}

  <ol>
  <!-- Based off: https://gist.github.com/Phlow/1f27dfafdf2bbcc5c48e -->
  {% assign sorted = (paginator.posts | sort: 'date') %}
  {% for post in sorted %}
  <!-- <article class="post-body"> -->
    <li>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </li>
<!-- 
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
-->
    <!-- </article> -->
  {% endfor %}
  </ol>

  {% include pagination-older.html %}
</div>
